# Disable access to this files
<FilesMatch "\.(dat)$">
	Deny from all
</FilesMatch>
# Default startup page
DirectoryIndex index.php
# Disable output dirs
Options -Indexes
# UTF8 support
AddDefaultCharset utf8
<IfModule mod_charset.c>
	CharsetDisable on
	CharsetRecodeMultipartForms Off
</IfModule>
php_value default_charset UTF-8
php_flag zlib.output_compression On 
FileETag none
ErrorDocument 404 /engline/error/404.html
