hr                         {height: 1px;}
img#passage   {cursor: pointer;}
.map_klub        {position: relative; padding-bottom: 5px; width: 500px; height: 240px; padding-right: 2px;}
.map_klub1      {position: absolute; z-index: 90; left: 66px; top: 115px; width: 56px; height: 13px;}
.map_klub2      {position: absolute; z-index: 90; left: 216px; top: 41px; width: 58px; height: 49px;}
.map_klub3      {position: absolute; z-index: 90; left: 312px; top: 168px; width: 123px; height: 31px;}
.map_klub4      {position: absolute; z-index: 90; left: 59px; top: 169px; width: 123px; height: 31px;}
.map_klub5      {position: absolute; z-index: 90; left: 312px; top: 48px; width: 123px; height: 30px;}
.map_klub6      {position: absolute; z-index: 90; left: 52px; top: 47px; width: 123px; height: 30px;}
.map_klub7      {position: absolute; z-index: 90; left: 196px; top: 148px; width: 103px; height: 47px;}
.map_zal1        {position: absolute; z-index: 90; left: 81px; top: 102px; width: 88px; height: 15px;}
.map_zal2        {position: absolute; z-index: 90; left: 264px; top: 106px; width: 175px; height: 37px;}
.map_zal3        {position: absolute; z-index: 90; left: 47px; top: 120px; width: 135px; height: 29px;}
.map_bk             {position: absolute; z-index: 90; left: 184px; top: 94px; width: 120px; height: 35px;}
.map_2stair    {position: absolute; z-index: 90; left: 29px; top: 115px; width: 120px; height: 35px;}
.map_sec1         {position: absolute; z-index: 90; left: 23px; top: 174px; width: 91px; height: 43px;}
.map_sec2         {position: absolute; z-index: 90; left: 36px; top: 40px; width: 63px; height: 40px;}
.map_sec3         {position: absolute; z-index: 90; left: 119px; top: 175px; width: 101px; height: 37px;}
.map_sec4         {position: absolute; z-index: 90; left: 391px; top: 120px; width: 89px; height: 32px;}
.map_sec5         {position: absolute; z-index: 90; left: 282px; top: 174px; width: 122px; height: 31px;}
.map_sec6         {position: absolute; z-index: 90; left: 305px; top: 50px; width: 123px; height: 32px;}
.map_sec7         {position: absolute; z-index: 90; left: 122px; top: 52px; width: 123px; height: 39px;}
.fl1                             {position: absolute; z-index: 100; width: 16px; height: 18px;}
.actionbar               {position: absolute; z-index: 101; right: 0px; top: 0px; height: 1px; overflow: visible;}
.map_discrp             {text-align: justify; padding: 3px;}