body        {font-size: 10pt; font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; padding: 0px; margin: 0px;}
a,
span        {text-decoration: none; font-weight: bold; color: #003388; cursor: pointer;}

/*Talk*/
body.talk           {background-color: #E6E6E6;}
#T1                        {white-space: nowrap; background: url(../img/talk/left.gif) no-repeat;}
#T2, #T4, #T3 {white-space: nowrap; background: url(../img/talk/back_01.gif) repeat-x;}
#T5                        {white-space: nowrap; background: url(../img/talk/middle.gif) no-repeat;}
#T6                        {white-space: nowrap; background: url(../img/talk/back_02.gif) repeat-x; text-align: right; vertical-align: top;}
#T7                        {white-space: nowrap; background: url(../img/talk/right.gif) no-repeat;}
#text                   {font-size: 8pt; margin-top: 6px; vertical-align: top; height: 17px;}
img.button        {cursor: pointer; border: 0px;}

/*Msg*/
.menu                            {background-color: #d2d0d0; border-color: #ffffff #626060 #626060 #ffffff; border-style: solid; border-width: 1px; position: absolute; visibility: hidden;}
a.menuItem                {border: 0px solid #000000; color: #003388; display: block; font-family: MS Sans Serif, Arial, Tahoma,sans-serif; font-size: 8pt; font-weight: bold; padding: 2px 12px 2px 8px; text-decoration: none;}
a.menuItem:hover  {background-color: #a2a2a2; color: #0066FF;}
a:hover        {color: #0066FF;}
.number        {font-size: 11pt; font-weight: bold; color: #6F0000;}
.date             {font-family: Courier; font-size: 8pt; text-decoration: none; font-weight: normal; color: #007000;}
.date2           {font-family: Courier; font-size: 8pt; text-decoration: none; font-weight: normal; color: #007000; background-color: #00FFAA;}
.sysdate      {font-family: Courier; font-size: 8pt; text-decoration: none; font-weight: normal; color: #B00000;}
.p,
.private      {font-weight: bold; color: red; background-color: #FAE0E0;}

/*Users*/
body.users {background-color: #faf2f2; white-space: nowrap;}
input.nav     {border: solid 1pt #B0B0B0; font-family: MS Sans Serif; font-size: 10px; color: #191970; margin-bottom: 2px; margin-top: 1px; cursor: pointer;}