.map            {position: relative; padding-bottom: 5px; width: 518px; height: 303px; padding-right: 2px;}
.shop         {position: absolute; z-index: 90; left: 59px; top: 193px; width: 60px; height: 62px;}
.comission         {position: absolute; z-index: 90; left: 156px; top: 194px; width: 69px; height: 71px;}
.station         {position: absolute; z-index: 90; left: 330px; top: 197px; width: 73px; height: 67px;}
.temple         {position: absolute; z-index: 90; left: 345px; top: 102px; width: 62px; height: 103px;}
.repare        {position: absolute; z-index: 90; left: 112px; top: 142px; width: 74px; height: 70px;}
.post        {position: absolute; z-index: 90; left: 407px; top: 154px; width: 75px; height: 83px;}
.club        {position: absolute; z-index: 90; left: 169px; top: 77px; width: 178px; height: 99px;}
.arrow_right        {position: absolute; z-index: 90; left: 458px; top: 238px; width: 31px; height: 17px;}
.arrow_left        {position: absolute; z-index: 90; left: 18px; top: 239px; width: 30px; height: 17px;}
.stella        {position: absolute; z-index: 90; left: 21px; top: 91px; width: 71px; height: 85px;}
.monument        {position: absolute; z-index: 90; left: 230px; top: 189px; width: 55px; height: 45px;}
.dtower        {position: absolute; z-index: 90; left: 213px; top: 55px; width: 73px; height: 120px;}
.bank        {position: absolute; z-index: 90; left: 330px; top: 135px; width: 74px; height: 63px;}
.room_small        {position: absolute; z-index: 90; left: 340px; top: 219px; width: 27px; height: 29px;}
.room_medium        {position: absolute; z-index: 90; left: 408px; top: 216px; width: 29px; height: 38px;}
.room_big        {position: absolute; z-index: 90; left: 368px; top: 216px; width: 36px; height: 47px;}
.arrow_left2        {position: absolute; z-index: 90; left: 18px; top: 239px; width: 30px; height: 17px;}
.arrow_right2        {position: absolute; z-index: 90; left: 458px; top: 238px; width: 31px; height: 17px;}
.house        {position: absolute; z-index: 90; left: 75px; top: 100px; width: 95px; height: 90px;}
.dung        {position: absolute; z-index: 90; left: 220px; top: 200px; width: 61px; height: 38px;}
.zoo        {position: absolute; z-index: 90; left: 430px; top: 110px; width: 61px; height: 50px;}
.flshop        {position: absolute; z-index: 90; left: 100px; top: 190px; width: 55px; height: 59px;}